In [ ]:
print("Hello world")

Hello world

In [ ]:
a = 10
b = 30
print("The sum of two number :",a+b)

The sum of two number : 40

In [ ]:
a = 10
b = 5
print('The subtraction of two number : ',a-b)

The subtraction of two number :  5

In [ ]:
a = 10
b = 2
print("The divition of two number : ",a/b)

The divition of two number :  5.0

In [ ]:
a = 10
b = 3
print('reminder: ',a%b)

reminder:  1

In [ ]:
a = 10
b = 5
print("The multiplication of a & b is: ",a*b)

The multiplication of a & b is:  50

In [ ]:
a = 10
print("The square of a is : ",a*a)

The square of a is :  100

# String

In [ ]:
a = "Hello! my name is Mahmud\n"
print(a)

Hello! my name is Mahmud

In [ ]:
print(len(a))

25

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
b = "I'm from Rajshahi"
print(a+b,'\n')

Hello! my name is Mahmud
I'm from Rajshahi

In [ ]:
print(b[0:9])

I'm from

In [ ]:
print(b[-1:0])

In [ ]:
 a = ["Dhaka","Rajshahui","Khulna","Chattogram","Sylhet"]
 print(a)

['Dhaka', 'Rajshahui', 'Khulna', 'Chattogram', 'Sylhet']

In [ ]:
print(a[0])

Dhaka

In [ ]:
print(a[0:3])

['Dhaka', 'Rajshahui', 'Khulna']

In [ ]:
print(a[-1])

Sylhet

In [ ]:
rev = a.reverse()
print(a)

['Sylhet', 'Chattogram', 'Khulna', 'Rajshahui', 'Dhaka']

In [ ]:
a.append("London")
print(a)

['Sylhet', 'Chattogram', 'Khulna', 'Rajshahui', 'Dhaka', 'London']

In [ ]:
a.remove("London")
print(a)

['Sylhet', 'Chattogram', 'Khulna', 'Rajshahui', 'Dhaka']

In [ ]:
'London' in a

False

In [ ]:
'Dhaka' in a

True

In [ ]:
b = ['London','Barlin','Denvor']
print(a+b)

['Sylhet', 'Chattogram', 'Rajshahui', 'Dhaka', 'Barlin', 'London', 'Barlin', 'Denvor']

# Conditional statement

In [ ]:
a = input("Enter 1st integer number: ")
b = input("Enter 2nd integer number: ")
if a>b:
  print('The Big number is : ',a)
else:
  print("The big number is : ",b)

Enter 1st integer number: 10
Enter 2nd integer number: 20
The big number is :  20

In [ ]:
a = int(input("enter 1st integer number : "))
b = int(input("enter 2nd integer number : "))
c = int(input("enter 3rd integer number : "))
if a>b & a>c:
  print("The big number is :",a)
elif b>a & b>c:
  print("The big number is : ",b)
else:
  print("The big number is : ", c)

enter 1st integer number : 10
enter 2nd integer number : 20
enter 3rd integer number : 30
The big number is :  30

# LOOP

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i+i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
total = 0
for i in range(0,11):
  total = total+i
print("Total = ",total)

Total =  55

In [ ]:
exp = ["2000","2050","3000","2500"]
for i in range(len(exp)):
  print("Month",i+1, 'Expance = ',exp[i])

Month 1 Expance =  2000
Month 2 Expance =  2050
Month 3 Expance =  3000
Month 4 Expance =  2500

In [ ]:
key_location = "Table"
locations = ["Chair","Bedroom","Table","Rack"]
for i in locations:
  if i == key_location:
    print("Key is found in ",i)
    break
  else:
    print('Key is not found in ',i)

Key is not found in  Chair
Key is not found in  Bedroom
Key is found in  Table

# Function

In [ ]:
def add(a,b):
  return a+b #return the value of addition 

def sub(a,b):
  print("The subtraction of this two number is: ",a-b) #printing the value of subtraction 

number = add(10,20) #call the function and pass the value 
number2 = sub(20,10) #call the function and pass the value 
print("the additon of this two number is: ", number)

The subtraction of this two number is:  10
the additon of this two number is:  30

In [ ]:
Selim_exp_list = [2000,3000,3000,2500]
Jewel_exp_list = [1400,1000,2000,1500]
total = 0
for item in Selim_exp_list:
  total = total+item
print("Selim's total expance is :",total)

total = 0
for item in Jewel_exp_list:
  total = total+item
print("Jewel's total expance is :",total)

#If there is a thousand of list then what should we do, then come out the function lets have a look;

Selim's total expance is : 10500
Jewel's total expance is : 5900

In [ ]:
def exp_calculate(exp):
  total = 0
  for item in exp:
    total = total+item
  return total



Selim_exp_list = [2000,3000,3000,2500]
Jewel_exp_list = [1400,1000,2000,1500]
Sumon_exp_list = [2000,1000,1200,2500]

Selim = exp_calculate(Selim_exp_list)
Jewel = exp_calculate(Jewel_exp_list)
Sumon = exp_calculate(Sumon_exp_list)

print("Selim's total expence is : ",Selim)
print("Jewel's total expence is : ",Jewel)
print("Sumon's total expence is : ",Sumon)

Selim's total expence is :  10500
Jewel's total expence is :  5900
Sumon's total expence is :  6700

# OOP

In [ ]:
#class and object
class person:
    def __init__(self,name):
        self.name=name
        print(name)

        
a = person("Mahmud")
b = person("Robit")

Mahmud
Robit

In [ ]:

class person:
    def __init__(self,name):
        self.name=name
    def get_name(self):
        return self.name
        
a = person("Mahmud")
b = person("Robot")
print(a.get_name())
print(a.get_name())

Mahmud
Mahmud

In [ ]:
class animal:
  def __init__(self,Name,Color,Height):
    self.Name = Name
    self.Color = Color
    self.Height = Height
    print("Name:",Name, " Color:",Color, " Height:",Height)

animal_1 = animal("Dog","Black","3 feet")
animal_2 = animal("Cat","White","1 feet")

Name: Dog  Color: Black  Height: 3 feet
Name: Cat  Color: White  Height: 1 feet

In [ ]:
class animal:
  def __init__(self,Name,Color,Height):
    self.Name = Name
    self.Color = Color
    self.Height = Height
    print(f"Name: {self.Name}, Color = {self.Color}, Height: {self.Height}")

animal_1 = animal("Dog","Black","3 feet")
animal_2 = animal("Cat","White","1 feet")

Name: Dog, Color = Black, Height: 3 feet
Name: Cat, Color = White, Height: 1 feet

In [ ]:
class animal:
  def __init__(self,Name,Color,Height):
    self.Name = Name
    self.Color = Color
    self.Height = Height
  def get_summary(self):
    return f"Name: {self.Name}, Color = {self.Color}, Height: {self.Height}"

animal_1 = animal("Dog","Black","3 feet")
animal_2 = animal("Cat","White","1 feet")
print(animal_1.get_summary())
print(animal_2.get_summary())

Name: Dog, Color = Black, Height: 3 feet
Name: Cat, Color = White, Height: 1 feet

In [ ]:
class animal:
  def __init__(self,Name,Color,Height):
    self.Name = Name
    self.Color = Color
    self.Height = Height

    
  def set_name(self,new_name):
    self.Name = new_name

  def get_summary(self):
    return f"Name: {self.Name}, Color = {self.Color}, Height: {self.Height}"


animal_1 = animal("Dog","Black","3 feet")
animal_2 = animal("Cat","White","1 feet")
print(animal_1.get_summary())
print(animal_2.get_summary())
print(animal_1.Color)
animal_1.set_name("Goat")
print(animal_1.get_summary())

Name: Dog, Color = Black, Height: 3 feet
Name: Cat, Color = White, Height: 1 feet
Black
Name: Goat, Color = Black, Height: 3 feet

In [ ]:
class animal:
  def __init__(self,Name,Color,Height):
    self.Name = Name
    self.Color = Color
    self.Height = Height

    
  def set_name(self,new_name):
    if(self.__check_name(new_name)):
      print("Sorry!! name can't be a number.")
      return
    self.Name = new_name

  def __check_name(self,name):
    return "0" in name

  def get_summary(self):
    return f"Name: {self.Name}, Color = {self.Color}, Height: {self.Height}"


animal_1 = animal("Dog","Black","3 feet")
animal_2 = animal("Cat","White","1 feet")
print(animal_1.get_summary())
print(animal_2.get_summary())
print(animal_1.Color)
animal_1.set_name("Goat")
print(animal_1.get_summary())
animal_1.set_name("012344")
print(animal_1.Name)

#When we use __ in our python code that's means this attribute or method is private we can't directly access it. 
#Mainly this is a data encapsulation

Name: Dog, Color = Black, Height: 3 feet
Name: Cat, Color = White, Height: 1 feet
Black
Name: Goat, Color = Black, Height: 3 feet
Sorry!! name can't be a number.
Goat

In [ ]:
# we want to print those cats only whose color is  Black
class animal:
  def __init__(self,Name: str,Color: str,Height: int = None):
    self.Name = Name
    self.Color = Color
    self.Height = Height

    
  def set_name(self,new_name):
    if(self.__check_name(new_name)):
      print("Sorry!! name can't be a number.")
      return
    self.Name = new_name

  def __check_name(self,name):
    return "0" in name

  def get_summary(self):
    return f"Name: {self.Name}, Color = {self.Color}, Height: {self.Height}"

cat_list =[animal("Tom","Black",25),
           animal("Thomas","White"),
           animal("Jack","Black",24),
           animal("Libby","Black"),
           animal("Charlie","white")]
for cat in cat_list:
  if cat.Color == "Black":
    print(cat.get_summary())

Name: Tom, Color = Black, Height: 25
Name: Jack, Color = Black, Height: 24
Name: Libby, Color = Black, Height: None

In [ ]:
#Inharitance 
class person:
  def __init__(self,Name: str,DOB: str,Height: int = None):
    self.Name = Name
    self.DOB = DOB
    self.Height = Height

    
  def set_name(self,new_name):
    if(self.__check_name(new_name)):
      print("Sorry!! name can't be a number.")
      return
    self.Name = new_name

  def __check_name(self,name):
    return "0" in name

  def get_summary(self):
    return f"Name: {self.Name}, date_of_birth: {self.DOB}, Height: {self.Height}"


class student(person):
  def __init__(self, Name: str, DOB: str, Height: int, email, studentid):
      super().__init__(Name, DOB, Height=Height)
      self.email = email
      self.studentid = studentid

  def get_summary(self):
      return super().get_summary()
      return f"Name: {self.Name}, date_of_birth: {self.DOB}, Height: {self.Height}, email: {self.email}, studentid: {self.studentid}"



person1 = person("Tom","1990",25)
person2 = person("Thomas","1995")
person3 = person("Jack","1985",24)
person4 = person("Libby","2000")

print(person1.get_summary())
print(person2.get_summary())
print(person3.get_summary())
print(person4.get_summary())

student = student("Mahmud",65,"2000","a@gmail.com","3219")
print(student.get_summary())

Name: Tom, date_of_birth: 1990, Height: 25
Name: Thomas, date_of_birth: 1995, Height: None
Name: Jack, date_of_birth: 1985, Height: 24
Name: Libby, date_of_birth: 2000, Height: None
Name: Mahmud, date_of_birth: 65, Height: 2000